/******************************* Font Import *******************************/
@import url("https://use.typekit.net/thu8flz.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/******************************* CSS Reset *******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************* Variables *******************************/
:root{
    --pink1: #f0a9d4;
    --pink2: #f57ac3;
    --pink3: #f794c6;
    --black: #000000;
    --white: #ffffff;
    --pink4: #fed7e5;
}

/******************************* Base/Mobile Styles *******************************/
html{
    background-color: var(--pink3);
}

body{
    background-color: var(--pink2);
}

/* Header */
header{
    background-color: var(--white);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
    width: 100%;
    position: fixed;
    height: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 4;
}

#header-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 85%;
}

header img{
    width: 90%;
    max-width: 60px;
}

h1{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
}

h1 a{
    color: var(--pink2);
    text-decoration: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--pink2);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
    margin: 2.8px 0px;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

#bars{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:end;
    top: 22%;
}

#Menu{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 59px;
    z-index: -1;
    background-color: var(--white);
}

#Menu li{
    width: 85%;
    margin: 0px auto 10px auto;
}

#Menu>li:first-child{
    margin-top: 20px;
}

#Menu li a{
    text-decoration: none;
    font-family: century-gothic, sans-serif;
    color: var(--pink2);
    font-size: 1.3rem;
    font-weight: 600;
}

/* Main */
main{
    width: 85%;
    max-width: 490px;
    margin: auto;
    padding-top: 59px;
    background-color: var(--pink2);
    font-family: century-gothic, sans-serif;
}

/* Collections */
#collections{
    background-color: var(--pink2);
    padding: 25px 0px 10px 0px;
}

#current-collection h2{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
}



#current-collection>p:first-of-type{
    text-align: center;
    padding: 10px 0px;
    margin: auto 45px 10px 45px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.1rem;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-color: var(--pink1);
}

#collections img{
    max-width: 100%;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.35));
}

#items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px auto;
}

#items li{
    text-align: center;
    background-color: var(--pink1);
    padding: 15px 0px;
    border-radius: 15px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
}

.order p{
    margin: 25px 80px 10px 80px;
    text-align: center;
    padding: 15px 0px;
    border: 2px solid var(--white);
    border-radius: 15px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-color: var(--pink1);
    font-size: 1.1rem;
    transition-duration: 0.2s;
}

.order a{
    text-decoration: none;
    color: var(--black);
}

.order>p:hover{
    font-weight: 600;
    background-color: var(--white);
    transition-duration: 0.2s;
}

#previous-collections{
    background-color: var(--pink1);
    padding: 25px 0px 15px 0px;
    margin-top: 25px;
    border-radius: 15px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
}

#previous-collections h2{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
}

#previous-collections p{
    font-family: selfie-neue-round, sans-serif;
    font-size: 3rem;
    text-align: center;
}

#previous-collections div{
    padding: 25px 0px;
}

/* Commissions */
#commissions{
    padding-top: 25px;
    background-color: var(--pink2);
}

#commissions h3{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.4rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    text-align: center;
}

#subheading-comms{
    font-family: selfie-neue-round, sans-serif;
    font-size: 2rem;
    text-align: center;
}

#commissions p{
    margin: 15px 0px;
}

#commissions>p:nth-child(3), #commissions>p:nth-child(4){
    line-height: 1.2rem;
    font-size: 1.1rem;
    text-align:center;
    margin: 0px 20px 20px 20px;
}

#commissions h4{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    text-align: center;
}

#broken-table{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 35px repeat(7, 1fr);
    text-align: center;
    margin: 0px 10px;
}

#broken-table .entry{
    margin: 2px 8px;
    background-color: var(--pink1);
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

.title1{
    font-weight: 600;
    font-size: 1.1rem;
}

.title2{
    display: none;
}

/* Shipping */
#shipping{
    background-color: var(--pink2);
    padding: 25px 0px;
}

#shipping h3{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    text-align: center;
    margin-bottom: 15px;
}

#shipping p{
    line-height: 1.2rem;
    font-size: 1rem;
    text-align:center;
    margin: 0px 20px 20px 20px;
}

.bold{
    font-weight: 600;
}

#shipping>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

#shipping>div p{
    background-color: var(--pink1);
    margin: 5px;
    padding: 15px 0px;
    border-radius: 15px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

#shipping>div p:nth-child(1), #shipping>div p:nth-child(2){
    font-weight: 600;
    background-color: var(--pink2);
    filter: none;
    padding: 0;
    margin-bottom: 0;
}

/* FAQ */
#faq h3{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    text-align: center;
    margin-bottom: 15px;
}

#faq img{
    width: 10%;
    float: left;
}

#faq p{
    line-height: 1.2rem;
    font-size: 1.1rem;
    margin: 10px 20px;
}

#faq span{
    margin: auto;
}

#faq li{
    margin-bottom: 20px;
}

#faq span{
    font-weight: 600;
}

/* About */
#about h3{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    text-align: center;
    margin-bottom: 15px;
}

#about>p{
    background-color: var(--pink1);
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    margin-bottom: 15px;
}

#about h4{
    font-family: Montserrat, sans-serif;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    text-align: center;
}

#about div{
    margin: 15px 0px;
}

#about ul{
    text-decoration: dashed;
    background-color: var(--pink1);
    padding: 20px 20px 20px 38px;
    border-radius: 15px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    list-style-type:disc;
}

#about h4{
    margin-bottom: 15px;
}

#meet-the-artist{
    margin-bottom: 20px;
}

#meet-the-artist h4{
    font-family: selfie-neue-round, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
    filter: drop-shadow(0px 1px 3px rgba(0, 1, 1, 0.25));
    text-align: center;
}

#meet-the-artist img{
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    margin-bottom: 0px;
}

/* footer */
footer{
    background-color: var(--pink3);
    text-align: center;
    margin: 0;
}

footer p{
    font-size: 1.2rem;
    color: var(--pink2);
    padding: 5px 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

/******************************* Small change 410px *******************************/
/* @media screen and (min-width: 410px){
    header img{
        width: 80%;
        max-width: 60px;
    }
} */

/******************************* Small change 450px *******************************/
/* @media screen and (min-width: 410px){
    header img{
        width: 75%;
    }
}

/******************************* Small change 500px *******************************/
/* @media screen and (min-width: 500px){
    header img{
        width: 65%;
    }
} */